---
---

@import "{{ site.theme }}";

body {
    color: #e2e2e2;
    background-color: #000000;
    padding-right: 15%;
    padding-left: 15%;
}

h1, h2, h3, p {
    color: #e2e2e2;
}

a {
    color: #bb7ad6;
}