<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
</head>
<body>
    <img src="https://raw.githubusercontent.com/NeverScape/neverscape.org/master/img/NeverScape_logo_tmp.png">
    <br>
    <a href="https://neverscape.org/"><img src="https://raw.githubusercontent.com/NeverScape/neverscape.org/master/img/home_icon_small.png" style="width:8%;"></a>
    <a href="https://neverscape.org/devblog.html"><img src="https://raw.githubusercontent.com/NeverScape/neverscape.org/master/img/wrench_icon_small.png" style="width:8%;"></a>
    <br>
    {{ content }}
</body>
</html>
