<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% seo %}
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico?">
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
</head>
<center>
    <img src="/img/NeverScape_logo.png">
    <br>
    <a href="/">
        <img src="/img/scroll-home.svg?sanitize=true" width="48px" height="48px">
    </a>
    <a href="about.html">
        <img src="/img/scroll-about.svg?sanitize=true" width="48px" height="48px">
    </a>
    <a href="devblog.html">
        <img src="/img/scroll-wrenches.svg?sanitize=true" width="48px" height="48px">
    </a>
    <a href="https://discord.gg/eqXuDKEWaj">
        <img src="/img/scroll-discord.svg?sanitize=true" width="48px" height="48px">
    </a>
    <a href="https://github.com/NeverScape">
        <img src="/img/scroll-github.svg?sanitize=true" width="48px" height="48px">
    </a>
</center>
<body>
    <br>{{ content }}<br>
</body>
</html>